server:
  port: 8081
spring:
  application:
    name: bankcards
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  liquibase:
    enabled: false
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
application:
  jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
  encryption:
    secret-key: ${SECRET_KEY}
  cors:
    origins:
    methods:
    headers:
    allowedCredentials: true
    cache:
      maxAge: 3600